
#div2{
  z-index: 9;
  margin-left: 6%;
  width: 300px;
}

#div3{
  margin-right: 7%;
  width: 300px;
}

.container{
  
  margin: 1px;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
}

.flexbox{
  display: flex;
}

#arrowAnim {
  width: 1vw;
  height: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 1.5vw;
  height: 1.5vw;
  border: 0.9vw solid;
  border-color: darkgrey transparent transparent darkgrey;
  transform: rotate(135deg);
}


.arrowSliding {
  position: absolute;
  -webkit-animation: slide 5s linear infinite; 
          animation: slide 5s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s; 
    animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s; 
    animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s; 
    animation-delay: 3s;
}

@keyframes slide {
    0% { opacity:0; transform: translateX(-30vw); }  
   20% { opacity:1; transform: translateX(-30vw); } 
   80% { opacity:1; transform: translateX(30vw); }  
  100% { opacity:0; transform: translateX(30vw); } 
}

